/* @import "~materialize-css/dist/css/materialize.min.css"; */

body {
  margin: 0;
  padding: 0;
}

.main {
  text-align: center;
}

.todo {
  margin: 1rem 0;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem 0;
}
